@model VirtoCommerce.Webshop.Models.ProductListPart

<fieldset>
    <legend>Product list</legend>
    <div>
        @Html.LabelFor(m => m.PageSize, T("Page size"))
        @Html.TextBoxFor(m => m.PageSize, new { @class = "textSmall" })
    </div>
</fieldset>