body {
    color: #474948;
    font-family: "Lato", sans-serif;
}
#layout-main-container {
    background-color: #eeeeee;
}
p, ul, ol, h1, h2, h3, h4, h5, h6, pre, table, form, blockquote, canvas, caption, embed, fieldset, figure, video, progress, object, map, hr {
    margin: 0 0 20px;
}
h1, h2, h3, h4, h5 {
    font-weight: 300;
    letter-spacing: -0.5px;
}
ul, ol {
    list-style-position: inside;
    padding: 0;
}
nav.ws-navigation {
    background-color: #fbfbf9;
    position: relative;
    z-index: 240;
    -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
    -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
    box-shadow: 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
}
.ws-main-menu {
    height: auto;
    margin: 0;
    padding: 0;

}
    .ws-main-menu::after {
        clear: both;
        content: "";
        display: table;
    }
    .ws-main-menu::before {
        content: "";
        display: block;
    }
    .ws-main-menu > li {
        list-style: none;
        float: left;
    }
        .ws-main-menu > li > a {
            color: #606362;
            padding: 15px 30px 15px 0;
            text-transform: uppercase;
        }
    .ws-main-menu a {
        display: block;
        font-size: 12px;
        text-decoration: none;
    }
    .ws-main-menu a {
        color: #1abc9c;
        -webkit-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-border-color 200ms ease-in-out;
        -moz-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -moz-border-color 200ms ease-in-out;
        -o-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
        -ms-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
        transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
    }
        .ws-main-menu a:hover, .ws-main-menu a:focus, .ws-main-menu a.ws-selected {
            color: #148f77;
        }
.ws-mini-cart {
    position: absolute;
    right: 15px;
    top: 20px;
}
    .ws-mini-cart a {
        background: url("cart.png") no-repeat left center;
        display: block;
        float: right;
        height: 40px;
        line-height: 40px;
        position: relative;
        width: 40px;
    }
        .ws-mini-cart a > span {
            background-color: #1abc9c;
            color: #ffffff;
            display: inline-block;
            font-size: 11px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 20px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding-box;
            background-clip: padding-box;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
        }
.ws-product-list {
    border: 1px solid transparent;
    margin-left: -15px;
    margin-right: -15px;
    overflow: visible !important;
}
    .ws-product-list::after {
        clear: both;
        content: "";
        display: table;
    }
    .ws-product-list::before {
        content: "";
        display: block;
    }
    .ws-product-list li {
        float: left;
        list-style: none;
        margin-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
        width: 30%;
    }
    .ws-product-list a {
        color: inherit;
        display: block;
        position: relative;
        text-decoration: none;
        z-index: 20;
        -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
        -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
        box-shadow: 0px 1px 2px rgba(71,73,72,0.199999);
    }
        .ws-product-list a:hover {
            -webkit-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
            -moz-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
            box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
        }
        .ws-product-list a .ws-image {
            position: relative;
        }
            .ws-product-list a .ws-image img {
                display: block;
                vertical-align: middle;
                width: 100%;
            }
        .ws-product-list a .ws-title {
            background-color: #ffffff;
            padding: 20px;
            position: relative;
        }
            .ws-product-list a .ws-title::before {
                background-color: #ffffff;
                content: "";
                display: block;
                height: 16px;
                left: 20px;
                position: absolute;
                top: -8px;
                width: 16px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            .ws-product-list a .ws-title .ws-prices {
                float: right;
                height: 20px;
                line-height: 20px;
                margin-left: 20px;
                text-align: right;
            }
                .ws-product-list a .ws-title .ws-prices .ws-price {
                    color: #1abc9c;
                    font-size: 14px;
                    font-weight: 600;
                }
            .ws-product-list a .ws-title h3 {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                margin: 0;
            }
.ws-product-images {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 33.33%;
}
    .ws-product-images .box {
        margin-bottom: 0;
    }
        .ws-product-images .ws-primary {
            margin: -20px -20px 0;
        }
            .ws-product-images .ws-primary img {
                max-width: 100%;
            }
    .ws-product-images .ws-thumbs {
        margin: 0 -20px;
        padding: 20px;
        position: relative;
    }
        .ws-product-images .ws-thumbs::before {
            background-color: #ffffff;
            content: "";
            display: block;
            height: 16px;
            left: 20px;
            position: absolute;
            top: -8px;
            width: 16px;
            z-index: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
            .ws-product-images .ws-thumbs .ws-thumbs-list {
                margin-bottom: -3%;
                margin-left: -3%;
            }
                .ws-product-images .ws-thumbs .ws-thumbs-list::after {
                    clear: both;
                    content: "";
                    display: table;
                }
                .ws-product-images .ws-thumbs .ws-thumbs-list::before {
                    content: "";
                    display: block;
                }
                .ws-product-images .ws-thumbs .ws-thumbs-list li {
                    float: left;
                    list-style: none;
                    margin-bottom: 3%;
                    margin-left: 3%;
                    width: 17%;
                }
                    .ws-product-images .ws-thumbs .ws-thumbs-list li a {
                        border: 4px solid #f0f0f0;
                        display: block;
                        position: relative;
                        text-decoration: none;
                        -webkit-transition: all 200ms ease-in-out;
                        -moz-transition: all 200ms ease-in-out;
                        -o-transition: all 200ms ease-in-out;
                        -ms-transition: all 200ms ease-in-out;
                        transition: all 200ms ease-in-out;
                    }
                        .ws-product-images .ws-thumbs .ws-thumbs-list li a.ws-active {
                            border-color: #1abc9c;
                        }
                        .ws-product-images .ws-thumbs .ws-thumbs-list li a::before {
                            background-color: #474948;
                            content: "";
                            height: 100%;
                            left: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            -webkit-transition: all 200ms ease-in-out;
                            -moz-transition: all 200ms ease-in-out;
                            -o-transition: all 200ms ease-in-out;
                            -ms-transition: all 200ms ease-in-out;
                            transition: all 200ms ease-in-out;
                            -webkit-opacity: 0;
                            -moz-opacity: 0;
                            opacity: 0;
                        }
                        .ws-product-images .ws-thumbs .ws-thumbs-list li a:hover {
                            border-color: #1abc9c;
                        }
                            /*.ws-product-images .ws-thumbs .ws-thumbs-list li a img {
                                display: block;
                                max-width: 100%;
                            }*/
.ws-product-content {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 60%;
}
    .ws-product-content .ws-tab-content {
        overflow: visible;
    }
        .ws-product-content .ws-tab-content .ws-details {
            padding-top: 0;
        }
            .ws-product-content .ws-tab-content .ws-details h1 {
                font-size: 24px;
                line-height: 30px;
                margin: 0 0 10px;
            }
            .ws-product-content .ws-tab-content .ws-details .ws-prices {
                line-height: 24px;
                margin: 0 0 20px;
            }
                .ws-product-content .ws-tab-content .ws-details .ws-prices .ws-price {
                    color: #1abc9c;
                    font-size: 20px;
                    font-weight: 600;
                }
        .ws-product-content .ws-tab-content .ws-description {
            border-bottom: 1px solid #f0f0f0;
            color: #939694;
            font-size: 14px;
            padding: 20px 0;
        }
            .ws-product-content .ws-tab-content .ws-description p {
                margin: 0 0 20px;
                margin-bottom: 0;
            }
        .ws-product-content .ws-tab-content .ws-add-to-cart {
            padding: 20px 0;
            padding-bottom: 0;
        }
.ws-cart-content {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 70%;
}
    .ws-cart-content .ws-cart-items table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
        width: 100%;
    }
        .ws-cart-content table td {
            border-bottom: 1px solid #f0f0f0;
        }
        .ws-cart-content table th, .ws-cart-content table td {
            text-align: left;
            padding: 10px;
            vertical-align: top;
        }
        .ws-cart-content table th:first-child, .ws-cart-content table td:first-child {
            padding-left: 0;
        }
        .ws-cart-content thead th {
            border-bottom: 1px solid #d7d7d7;
            color: #474948;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
.ws-cart-items .ws-image {
    display: block !important;
    float: left;
    margin-right: 20px;
}
    .ws-cart-items .ws-col-product .ws-image a {
        border: 4px solid #f0f0f0;
        display: block;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-border-color 200ms ease-in-out;
        -moz-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -moz-border-color 200ms ease-in-out;
        -o-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -o-border-color 200ms ease-in-out;
        -ms-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -ms-border-color 200ms ease-in-out;
        transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
    }
        .ws-cart-items .ws-col-product .ws-image a::before {
            background-color: #474948;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            -webkit-transition: all 200ms ease-in-out;
            -moz-transition: all 200ms ease-in-out;
            -o-transition: all 200ms ease-in-out;
            -ms-transition: all 200ms ease-in-out;
            transition: all 200ms ease-in-out;
            -webkit-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
        }
        .ws-cart-items .ws-col-product .ws-image a:hover {
            border: 4px solid #1abc9c;
        }
        .ws-cart-items .ws-col-product .ws-image a img {
            border: 0;
            vertical-align: middle;
            max-width: 60px;
        }
    .ws-cart-items .ws-col-product h5 {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: normal;
        margin: 0 0 10px;
    }
    .ws-cart-items .ws-col-product h5 a {
        color: inherit;
    }
    .ws-cart-items a {
        color: #1abc9c;
        -webkit-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-border-color 200ms ease-in-out;
        -moz-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -moz-border-color 200ms ease-in-out;
        -o-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -o-border-color 200ms ease-in-out;
        -ms-transition: color 200ms ease-in-out, background-color 200ms ease-in-out, -ms-border-color 200ms ease-in-out;
        transition: color 200ms ease-in-out, background-color 200ms ease-in-out, border-color 200ms ease-in-out;
    }
    .ws-cart-items .ws-col-product h5 a:hover {
        color: #1abc9c;
        text-decoration: none;
    }
.ws-price {
    font-size: 13px;
    font-weight: 600;
}
.ws-price-list {
    margin-bottom: -20px;
}
    .ws-price-list li {
        border-bottom: 1px dotted #f0f0f0;
        font-size: 13px;
        list-style: none;
        margin: 0 -20px;
        padding: 0 20px;
        padding-bottom: 15px;
        padding-top: 15px;
        position: relative;
    }
        .ws-price-list li strong {
            font-weight: 700;
            position: absolute;
            right: 20px;
        }
        .ws-price-list li.ws-important {
            color: #1abc9c;
            font-size: 14px;
        }
.ws-cart-info {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 23%;
}
.ws-box {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
    box-shadow: 0 1px 2px rgba(71, 73, 72, 0.25);
}
    .ws-box .ws-box-header {
        background-color: #ffffff;
        border-bottom: 1px solid #f0f0f0;
        margin: 0 -20px;
        padding: 0 20px;
        padding-bottom: 20px;
    }
        .ws-box .ws-box-header h3 {
            color: #474948;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
        }
        .ws-box .ws-box-header h5 {
            color: #939694;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin: 0;
        }
    .ws-box .ws-box-body, .ws-box .ws-box-content {
        margin-top: 20px;
    }
        .ws-box .ws-box-content::after {
            content: "";
            display: inline-block;
            overflow: hidden;
            width: 100%;
        }
        .ws-box .ws-box-content label {
            margin-top: 15px;
        }
        .ws-box .ws-box-content input[type="text"] {
            border: 1px solid #cacaca;
            font-family: "Lato", sans-serif;
            font-size: 14px;
            font-weight: 300;
            height: 24px;
            line-height: 1.4285;
            margin-bottom: 10px;
            width: 100%;
            padding: 4px 6px !important;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding-box;
            background-clip: padding-box;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            -webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
            -moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
            box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
        }
            .ws-box .ws-box-content input[type="text"].ws-input-sm {
                border: 1px solid #cacaca;
                font-size: 13px;
                font-weight: 300;
                margin-bottom: 10px;
                padding: 4px 6px !important;
                text-align: right;
                width: 32px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding-box;
                background-clip: padding-box;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                -webkit-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
                -moz-box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
                box-shadow: inset 0 1px 2px rgba(71, 73, 72, 0.09999999999999998);
            }
    .ws-box .ws-box-footer {
        background-color: #f9f9f9;
        border-top: 1px solid #f0f0f0;
        margin: 20px -20px -20px;
        padding: 20px;
    }
.ws-column {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 44%;
}
.ws-btn {
    background-color: #dbdbdb;
    background-image: none;
    border: none;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-shadow: none;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: normal;
    word-spacing: 1px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(71, 73, 72, 0.050000000000000044);
    -moz-box-shadow: inset 0 -2px 0 rgba(71, 73, 72, 0.050000000000000044);
    box-shadow: inset 0 -2px 0 rgba(71, 73, 72, 0.050000000000000044);
}
    .ws-btn::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .ws-btn::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .ws-btn.ws-btn-primary {
        background-color: #1abc9c;
    }
    .ws-btn.ws-btn-lg {
        padding: 16px 24px;
    }
    .ws-btn.ws-btn-sm {
        padding: 8px 16px;
    }
    a.ws-btn:hover {
        text-decoration: none;
    }