@{
    Style.Require("LatoFont");
    Style.Require("Webshop");
}

<ul class="ws-main-menu">
    @foreach (var category in Model.Categories)
    {
        <li>
            @if (category.Slug == Model.CategorySlug)
            {
                <a class="ws-selected" href="@Href(String.Format(category.UrlPattern, category.Slug))">@category.Name</a>
            }
            else
            {
                <a href="@Href(String.Format(category.UrlPattern, category.Slug))">@category.Name</a>
            }
        </li>
    }
</ul>