@{
    Style.Require("LatoFont");
    Style.Require("Webshop");
}

<ul class="ws-main-menu">
    @foreach (var category in Model.Categories)
    {
        <li>
            <a class="@(category.Slug == Model.CategorySlug ? "ws-selected" : String.Empty)" href="@Href(String.Format(category.UrlPattern, category.Slug))">
                @category.Name
            </a>
        </li>
    }
</ul>