@{
    Style.Require("LatoFont");
    Style.Require("VirtoCommerceStore");
}

<ul class="vc-category-list">
    @foreach (var category in Model.Categories)
    {
        <li class="@(category.Slug == Model.CategorySlug ? "selected" : string.Empty)">
            <a href="@Href(String.Format(category.UrlPattern, category.Slug))">@category.Name</a>
        </li>
    }
</ul>