@{
    Style.Require("LatoFont");
    Style.Require("VirtoCommerceStore");
}

<div class="vc-box">
    <div class="vc-box-header">
        <h3>@T("Shopping cart")</h3>
    </div>
    <div class="vc-box-content">
        <div class="vc-empty-cart">
            <div class="vc-image"></div>
            <p>
                @T("Your shopping cart is currently empty")
            </p>
            <p class="small">
                @T("You can start your shopping from ")<a href="@Href("~/")">here</a>
            </p>
        </div>
    </div>
</div>