@Model.Product.Name

<input id="product-sku" type="hidden" value="@Model.Product.Sku" />
<button id="btn-add-to-cart" type="button">@T("Add to cart")</button>

<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $("#btn-add-to-cart").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Add", new { controller = "ShoppingCart", area = "VirtoCommerce.Webshop" })",
                data: {
                    sku: $("#product-sku").val(),
                    quantity: 1,
                    __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()"
                },
                success: function (jsonResult) {
                    if (jsonResult) {
                        if (jsonResult.errorMessage) {
                            alert(jsonResult.errorMessage);
                        } else {
                            $(".ws-mini-cart a > span").text(jsonResult);
                        }
                    }
                }
            });
        });
    });
</script>