<div class="ws-mini-cart">
    <a href="@Href("~/Cart")" title="@T("Go to cart")">
        @if (Model.ShoppingCart != null && Model.ShoppingCart.LineItemCount > 0)
        {
            <span>@Model.ShoppingCart.LineItemCount</span>
        }
    </a>
</div>